[submodule "Plugins/CrimBlueprintStatics"]
	path = Plugins/CrimBlueprintStatics
	url = https://github.com/Soccertitan/CrimBlueprintStatics
[submodule "Plugins/CrimAbilitySystem"]
	path = Plugins/CrimAbilitySystem
	url = https://github.com/Soccertitan/CrimAbilitySystem
[submodule "Plugins/GameplayMessageRouter"]
	path = Plugins/GameplayMessageRouter
	url = https://github.com/Soccertitan/GameplayMessageRouter
[submodule "Plugins/CrimWidgetPoolSystem"]
	path = Plugins/CrimWidgetPoolSystem
	url = https://github.com/Soccertitan/CrimWidgetPoolSystem
[submodule "Plugins/InventorySystem"]
	path = Plugins/InventorySystem
	url = https://github.com/Soccertitan/InventorySystem
[submodule "Plugins/CrimEnhancedInputSystem"]
	path = Plugins/CrimEnhancedInputSystem
	url = https://github.com/Soccertitan/CrimEnhancedInputSystem
[submodule "Plugins/InteractionSystem"]
	path = Plugins/InteractionSystem
	url = https://github.com/Soccertitan/InteractionSystem
[submodule "Plugins/NiagaraTextToolkit"]
	path = Plugins/NiagaraTextToolkit
	url = https://github.com/Soccertitan/NiagaraTextToolkit
[submodule "Plugins/CrimTargetingSystem"]
	path = Plugins/CrimTargetingSystem
	url = https://github.com/Soccertitan/CrimTargetingSystem
[submodule "Plugins/CrimSortAndFilterSystem"]
	path = Plugins/CrimSortAndFilterSystem
	url = https://github.com/Soccertitan/CrimSortAndFilterSystem
